main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bg-stats {
  background-color: rgb(255, 156, 43);
}

.bg-search {
  background-color: rgb(209, 209, 209);
}

.vh10 {
  height: 10vh;
}

.vh60 {
  height: 60vh;
}
